.container {
    position: absolute;
    right: 0;
    top : 71px;
    width: calc(100% - 300px);
    height: calc(100% - 72px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /*border: 1px solid crimson;*/
}

.left {
    width: 100%;
    height: 100%;
    background-color: #060B4266;

}

.right {
    background-color: #060B42;
    width: 220px;
    min-width: 220px;
    height: 100%;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #EF5DA8;
}

.containerInForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 225px);
    /*border: 1px solid crimson;*/
}

.input{
    width: 70%;
    min-width: 200px;
    height: 30px;
    background-color: #060B4299;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 4px;
    color: white;
    font-size: 1.2rem;
}

.input2{
    width: 70%;
    min-width: 50px;
    height: 30px;
    background-color: #060B4299;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 4px;
    color: white;
    font-size: 1.2rem;
}

.buttonSend {
    width: 60px;
    height: 40px;
    background: linear-gradient(102.27deg, rgba(44, 14, 176, 1) 4.93%, rgba(146, 94, 210, 1) 125.19%);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #925ED2;
}

.buttonSend2 {
    margin-top: 5px;
    width: 115px;
    height: 30px;
    background: linear-gradient(102.27deg, rgba(44, 14, 176, 1) 4.93%, rgba(146, 94, 210, 1) 125.19%);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #925ED2;
}

.buttonConfig {
    width: 180px;
    height: 40px;
    background: linear-gradient(102.27deg, rgba(44, 14, 176, 1) 4.93%, rgba(146, 94, 210, 1) 125.19%);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #925ED2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.chatWindow {
    /*border: 1px solid green;*/
    height: calc(100% - 100px);
    margin: 20px;
    border-radius: 20px;
    overflow: scroll;
}

.h1 {
    font-size: 1.4rem;
    /*border: 1px solid red;*/
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    border: 1px solid #925ED2;
    width: 70%;
}

.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #2C0EB099;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.containerLayer {
    width: 400px;
    height: 600px;
    background-color: #060B42;
    border-radius: 20px;
    box-shadow: 0 0 10px #EF5DA8;
    z-index: 1;
    position: absolute;
    left: 25%;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.htmlInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 180px;
    gap: 5px;
    cursor: pointer;
}

.changeType{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 8px;
}

.buttonGlobal {
    width: 100px;
    height: 30px;
    background: linear-gradient(102.27deg, rgba(44, 14, 176, 1) 4.93%, rgba(146, 94, 210, 1) 125.19%);
    color: white;
    border-radius: 5px;
    border: 1px solid #925ED2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
}

.getPassword {
    z-index: 3;
    width: 300px;
    height: 190px;
    background-color: #060B42;
    border-radius: 10px;
    border: 1px solid #925ED2;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    top: 30%;
    left: 30%;
}

.containerInForm2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}
.containerInForm3 {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}

.h2 {
    margin: 0;
}

.p{
    margin: 10px 0 5px;
}

.buttonConfig2 {
    width: 180px;
    height: 40px;
    background: linear-gradient(102.27deg, rgba(44, 14, 176, 1) 4.93%, rgba(146, 94, 210, 1) 125.19%);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #925ED2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
    justify-self: flex-end;
}