.wrapper {
	position: relative;
    width: 100%;
    height: auto;
}

.content{
	height: 40vh;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
    position: relative;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.backgroundDIV {
	width: 100%;
	height: auto;
    position: absolute;
    top: 0;
    left: 0;
	z-index: -100;
	/* background-color: black; */
}

.name {
	margin-top: 0;
	font-size: 3rem;
	font-size: 100;
}
