.wrapper {
	position: relative;
    width: 99.9%;
    height: auto;
}

.content{
	height: 40vh;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
    position: relative;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

.backgroundDIV {
	width: 100%;
	height: 94.2vh;
    position: absolute;
    top: 0;
    left: 0;
	z-index: -100;
}


.sketchfabembedwrapper {
	width: 1024px;
	height: 720px;
}

.name {
	margin-top: 0;
	font-size: 3rem;
	color: #EF5DA8;
	font-weight: 700;
	text-shadow: 0 0 15px #EF5DA8;
	text-decoration: none;
}

.div42Login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.containerLoginRegister {
	width: 420px;
	height: 68px;
	background-color: #18055A;
	border-radius: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: 19px;
	font-weight: 700;
}

.loginBtn {
	background-color: #18055A;
	width: 49%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	transition-duration: 0.5s;
}

.loginBtn:hover, .registerBtn:hover {
	background-color: #2C0FB1;
	width: 65%;
}

.registerBtn {
	background-color: #18055A;
	width: 49%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	transition-duration: 0.5s;
}