.maindiv {
	margin: 0 auto;
	width: 80%;
	max-width: 780px;
	min-width: 350px;
	height: 100%;
	background-color: rgba(11, 4, 45, 0.85);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 15px 15px;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.labelText {
	width: 80%;
	color: white;
	margin: 0 auto;
	font-size: 15px;
}

.txt {
	color: white;
	width: 80%;
	max-width: 420px;
}

.inpuetEl {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1px;
}

.inputText {
	width: 80%;
	max-width: 420px;
	height: 45px;
	margin: 5px auto;
	border-radius: 5px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	background-color: rgba(11, 4, 45, 0.0);
	color: white;
	font-size: 1.1rem;
}

.footercontainer {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.inputButton {
	border: none;
	width: 134px;
	height: 64px;
	background: linear-gradient(102.27deg, #2C0EB0 4.93%, #925ED2 125.19%);
	border-radius: 4px;
	color: white;
	transition-duration: 0.10s;
	font-weight: 700;
	font-size: 24px;
}
.inputButton:hover {
	transform: scale(1.02);
}


.loginAuth42 {
	background: linear-gradient(102.27deg, #2C0EB0 4.93%, #925ED2 125.19%);
	font-weight: 700;
	font-size: 24px;
	color: whitesmoke;
	width: 227px;
	height: 64px;
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.loginAuth42:hover {
	transform: scale(1.02);
}

.inputButton:active {
	transform: scale(0.9);
}

.noAcc {
	margin: 2px 0 0;
	color: white;
	font-size: 0.9rem;
}

.link {
	margin: 0 0 20px;
	color: white;
	font-size: 0.9rem;
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.errorMessage {
	width: 200px;
	height: 40px;
	background-color: rgb(153, 14, 14);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: 15px;
	border-radius: 5px;
	text-align: center;
	color: whitesmoke;
	font-weight: 700;
}

.green {
	background-color: greenyellow;
}

.orContainer {
	width: 17px;
	height: 64px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

.orBarre {
	width: 1px;
	height: 20px;
	border-right: 1px solid white;
}

.orText {
	margin-bottom: 4px;
}