.container {
	height: 50px;
	background-color: #303030;
	margin: 0;
	padding: 0px 20px 0px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	box-shadow: 0 0 15px rgb(255, 196, 4);
}

.navRight {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

.navLeft {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
}


.linkTxt {
	color: white;
}

.linkTxt:hover {
	text-decoration: none;
	color: rgb(255, 196, 4);
}