.container {
  text-align: center;
  color: white;
}

.category {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.022em;
  color: #ffffff;
  cursor: pointer;
  margin-top: 5px;
}

.category:before {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  border-bottom: 1px solid #ffffff;
}

.category:first-child {
  margin-top: 35px;
}

.name {
  flex: 1;
  text-align: left;
  margin: -3px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.arrow {
  margin: auto 12px auto auto;
  transition: transform 0.3s ease-in-out;
}

.middleContainer {
  position: absolute;
  right: 0;
  top: 71px;
  height: calc(100% - 73px);
  width: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #060b26d9;
  border: 1px solid #060b26d9;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.firstButton,
.secondButton {
  flex-grow: 1;
  padding: 14px 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: calc(0.8rem + 0.5vw);
  line-height: 30px;
  color: #ffffff;
  width: 25vw;
  max-width: 255px;
  white-space: nowrap;
  border: 2px solid;
  border-image: linear-gradient(180deg, #2c0fb1 0%, #794aca 100%);
  border-image-slice: 1;
  cursor: pointer;
}

.firstButton {
  background: linear-gradient(180deg, #2c0fb1 0%, #794aca 100%);
}

.secondButton {
  background: none;
}

@media screen and (max-width: 600px) {
  .firstButton,
  .secondButton {
    font-size: 0.7em;
    padding: 10px;
  }
}

.separator {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #a3a3a3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.separator::before,
.separator::after {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 15px;
  background: #a3a3a3;
  transform: rotate(90deg);
}

.separator::before {
  top: 7px;
}

.separator::after {
  bottom: 7px;
}

.channelUnit {
  margin-left: 20px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

.userCategory {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.statusGreen {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: greenyellow;
  margin-top: 5px;
}

.statusRed {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: red;
  margin-top: 5px;
}
