.container {
	text-align: center;
	color: white;
	overflow: hidden;
	width: 100vw;
	/*background-color: #EF5DA8;*/
}

.buttonGame {
	background-color: transparent;
	width: 100vw;
	color: white;
	border: 2px solid white;
	padding: 10px 20px;
	font-size: 1.2rem;
  }

  .contentGame {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	gap: 30px;
	width: 50%;
  }
.canvas {

}